<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png?v=5A6QWj9O7n">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png?v=5A6QWj9O7n">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png?v=5A6QWj9O7n">
<link rel="manifest" href="site.webmanifest?v=5A6QWj9O7n">
<link rel="mask-icon" href="safari-pinned-tab.svg?v=5A6QWj9O7n" color="#115b5f">
<link rel="shortcut icon" href="favicon.ico?v=5A6QWj9O7n">
<meta name="msapplication-TileColor" content="#115b5f">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
