_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# General
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.dropbox

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/dictionaries/samschott.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/maestral.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/encodings.xml
*.iml
*.xml
