
{% assign crumb_path = '/' %}

<nav class="breadcrumbs">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    {% assign crumbs = page.url | split: '/' %}
    {% assign i = 0 %}
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        <li class="current">{{ page.title }}</li>
      {% else %}
        {% assign i = i | plus: 1 %}
        {% assign url = crumb | prepend: crumb_path | relative_url %}
        {% assign main_nav_item = site.data.navigation.main | where_exp: "item", "item.url == url" | first %}
        {% assign side_nav_item = site.data.navigation[include.nav].children | where_exp: "item", "item.url == url" | first %}
        {% if main_nav_item != nil %}
            {% assign title = main_nav_item.title %}
        {% elsif side_nav_item != nil %}
            {% assign title = side_nav_item.title %}
        {% else %}
            {% assign title = url %}
        {% endif %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ url }}" itemprop="item"><span itemprop="name">{{ title }}</span></a>
          <meta itemprop="position" content="{{ i }}" />
        </li>
        <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
