

.header {
  position: relative;
  @include clearfix;

  &--overlay {
    position: relative;
    background-color: var(--splash-background-color-light);
    color: var(--text-color);
    padding-top: calc(#{$effective-navbar-height} + 10em);
    padding-bottom: 18em;
    @include clearfix;
    background-size: $small;
    background-image: url('/assets/images/splash_small.png');
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint($medium) {
      background-size: $medium;
      background-image: url('/assets/images/splash_medium.png');
    }

    @include breakpoint($large) {
      background-size: $large;
      background-image: url('/assets/images/splash_large.png');
    }

    p {
      text-align: center;
    }

    .wrapper {
      padding-left: 1em;
      padding-right: 1em;

      @include breakpoint($medium) {
        max-width: $medium;
      }
    }

    .header__title,
    .header__lead {
      text-align: center;
      margin: 1em auto;
      font-family: $sans-serif-narrow;
    }

    .header__action {
        color: var(--link-color);
        font-size: $type-size-4;
        margin-top: 1em;
        padding: 5px;

    }
    .header__action:hover {
        font-size: $type-size-4;
        text-decoration: underline;
    }

    .header__lead {
      max-width: $medium;
      font-size: $type-size-5;
      padding: 5px;
    }

    .header__title {
      font-size: $type-size-2;
      font-weight: bold;

      @include breakpoint($small) {
        font-size: $type-size-1;
      }
    }
  }
}

.page__hero-image {
  width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.page__hero-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-size: $type-size-8;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.splash {
    width: 100vw;
    text-align: center;
    padding-bottom: 0;
}

.wide {
    @include safe-padding(left, $global-padding);
    @include safe-padding(right, $global-padding);
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    margin: auto;

    h1, h2 {
        margin-top: 2em !important;
        margin-bottom: 1em !important;
        border-style: none !important;
    }

    figure {
        margin-top: 3em;
    }

    .large-link {
       font-size: $type-size-4;
    }
}

.wide__light{

    background-color: var(--splash-background-color-light);
    color: var(--text-color);

    a {
        color: var(--link-color);
    }
}

.wide__dark{
    background-color: var(--splash-background-color-dark);
    color: rgb(245,245,245);

    a {
        color: rgb(50,150,250);
    }
}
