[Unit]
Description = Maestral daemon for the config %I
Documentation = "https://github.com/SamSchott/maestral-dropbox/wiki"

[Service]
Type = notify
NotifyAccess = exec
ExecStart = /usr/bin/maestral start -f -c %i
ExecStop = /usr/bin/maestral stop -c %i
RestartSec = 1
Restart = on-failure
WatchdogSec = 30s

[Install]
WantedBy=default.target
