[Unit]
Description = Maestral daemon for the config %I
Documentation = https://github.com/SamSchott/maestral-dropbox/wiki

[Service]
Type = notify
NotifyAccess = exec
ExecStart = {start_cmd} -c %i
ExecStop = {stop_cmd} -c %i
ExecStopPost=/usr/bin/env bash -c "if [ ${{SERVICE_RESULT}} != success ];\
then notify-send Maestral 'Daemon failed'; fi"
WatchdogSec = 30s

[Install]
WantedBy=default.target
