atomicwrites
bugsnag
click
dropbox
fasteners
importlib_metadata
keyring
keyrings.alt
packaging
pathspec
Pyro5
requests
sdnotify
setuptools
six
u-msgpack-python
watchdog
m2r
sphinx==2.4.4
sphinx-click
sphinx-autodoc-typehints
