/* ==========================================================================
   MIXINS
   ========================================================================== */

%tab-focus {
  /* Default*/
  outline: thin dotted var(--focus-color);
  /* Webkit*/
  outline: 5px auto var(--focus-color);
  outline-offset: -2px;
}

/*
   em function
   ========================================================================== */

@function em($target, $context: $doc-font-size) {
  @return ($target / $context) * 1em;
}


/*
   Bourbon clearfix
   ========================================================================== */

/*
  * Provides an easy way to include a clearfix for containing floats.
  * link http://cssmojo.com/latest_new_clearfix_so_far/
  *
  * example scss - Usage
  *
  * .element {
  *   @include clearfix;
  * }
  *
  * example css - CSS Output
  *
  * .element::after {
  *   clear: both;
  *   content: "";
  *   display: table;
  * }
*/

@mixin clearfix {
  clear: both;

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

/*
   Safe viewport area mixin
   ======================== */

/*
  * Increases the given padding to the margin of a devices safe screen area.
  * This is useful for devices which have non-rectangular screens such as an iPhone with
  * a notch. Should be used for top-level containers.
*/

@mixin safe-padding($padding-name, $padding-value) {
  padding-#{$padding-name}: $padding-value;
  padding-#{$padding-name}: Max($padding-value, env(safe-area-inset-#{$padding-name}), 0px);
}
