
.splash {
    width: 100vw;
    text-align: center;
    padding-bottom: 0;
}

.wide {
    @include safe-padding(left, $global-padding);
    @include safe-padding(right, $global-padding);
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    margin: auto;

    h1, h2 {
        padding: 1em;
        border-style: none !important;
    }
}

.wide__light{

    background-color: var(--splash-background-color-light);
    color: rgb(17,17,17);

    a {
        color: rgb(12,100,200);
    }
}

.wide__dark{
    background-color: var(--splash-background-color-dark);
    color: rgb(245,245,245);

    a {
        color: rgb(50,150,250);
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow-x: hidden;

    @include breakpoint($large) {
        flex-direction: row;
        align-items: flex-start;
    }
}

.flex-child {
    flex: 1;
    max-width: 100%;
    overflow-x: hidden;
}
