
.splash {
    text-align: center;

    h1, h2 {
        padding: 1em;
        border-style: none !important;
    }
}

.wide-light{
    background-color: rgb(251,251,251);
    color: rgb(17,17,17);
    text-align: center;
    margin: auto;
    padding: 1em;

    a {
        color: rgb(12,100,200);
    }
}

.wide-dark{
    background-color: rgb(40,40,50);
    color: rgb(245,245,245);
    text-align: center;
    margin: auto;
    padding: 1em;

    a {
        color: rgb(50,150,250);
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow-y: hidden;

    @include breakpoint($large) {
        flex-direction: row;
    }
}

.flex-child {
    flex: 1;
}
