* { margin: 0; padding: 0; }
.terminal {
    border-radius: 10px;
    position: relative;
    font-size: $type-size-7;
}
.terminal .top {
    background: rgb(10, 10, 11);
    color: rgb(214, 214, 214);
    height: 30px;
    border-radius: 10px 10px 0 0;
}
.terminal .btns {
    position: absolute;
    top: 18px;
    left: 18px;
}
.terminal .circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 12px;
    margin-left: 2px;
}
.title{
    text-align: center;
    padding: 10px;
}
.red { background: #EC6A5F;}
.green { background: #64CC57;}
.yellow{ background: #F5C04F;}
.red-text { color: #EC6A5F;}
.green-text { color: #64CC57;}
.blue-text{ color: #00FFFF;}
.clear{clear: both;}
.terminal .body {
    text-align: left;
    background: rgb(10, 10, 11);
    color: rgb(230, 230, 230);
    padding: 30px;
    overflow: auto;
    border-radius: 0 0 10px 10px;
}
.space {
    margin: 25px;
}
.shadow { box-shadow: 0px 0px 20px rgba(0,0,0,.4)}