:root {
    --color-primary: rgb(68, 68, 68);
    --color-secondary: #f2f2f2;
    --color-background: #ffffff;
}

/* sidebar header (and topbar for mobile) */
 .wy-side-nav-search, .wy-nav-top {
   background: var(--color-secondary);
 }

 .wy-side-nav-search input[type=text] {
    border-color: #202448;
}

/* sidebar */
 .wy-nav-side {
   background: var(--color-secondary);
}

/* links outside nav */
.rst-content a:link, .rst-content a:visited {
   color: var(--color-primary);
   text-decoration: none;
 }

/* admonitions only */
.admonition.note {
   background: var(--color-background);
}

/* font size smaller and striped cols in notebook tables */
.output_area {
    font-size: 12px;
}
.output_area tr:nth-child(even) {background-color: var(--color-background);}
th {
    background-color: #f2f2f2;
    padding-right: 8px;
    text-align: left;
}

/* font size smaller and not-stripped cols in API tables */
table.docutils {
    font-size: 14px;
}
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td,
.wy-table-striped tr:nth-child(2n-1) td,
.wy-table-odd td {
     background-color: #fff;
}