
.wy-side-nav-search > a img.logo, .wy-side-nav-search .wy-dropdown > a img.logo {
    display: block;
    margin: 0 auto;
    height: auto;
    width: auto;
    border-radius: 0;
    max-width: 50%;
    background:transparent
}
