
.wy-side-nav-search > a img.logo, .wy-side-nav-search .wy-dropdown > a img.logo {
    max-width: 50%;
}

.wy-side-nav-search {
    background-color: #9d9d9d;
}

.wy-side-nav-search input[type=text] {
    border-color:#9d9d9d
}
