/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
    font-weight: bold;
    border-bottom: 2px solid var(--muted-text-color)
}

th, td {
    padding: 0.3em;
}

tr {
    border-bottom: 1px solid var(--muted-text-color);
}

tr:last-child {
    border-bottom: 2px solid var(--muted-text-color)
}
