name: Linting

on:
  push:
    branches:
      - master
      - develop

  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: Install
      run: |
        python -m pip install -U pip
        python -m pip install -U .[dev]
    - name: black
      run: black . --check --diff
    - name: flake8
      run: flake8 .
    - name: mypy
      run: mypy
