name: Linting

on:
  pull_request:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4.3.0
    - run:  python -m pip install -U .[lint]
    - name: black
      run: |
        black --check --diff src tests
    - name: flake8
      run: |
        flake8 src tests
    - name: mypy
      run: |
        mypy src
