name: Linting

on:
  pull_request:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
    - run:  python -m pip install -U .[dev]
    - uses: pre-commit/action@v3.0.0
